.add-product {
  padding-top: 14.5px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;

  &__title {
    @include minititle;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 11px;
  }

  &__options {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    margin-bottom: 12px;
    border-spacing: 0;
  }

  &__options-cell {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 2px;

    &--quantity {
      text-align: left;
    }

    &--price {
      text-align: right;
    }
  }

  &__note {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 38px;
    padding-right: 37px;
    padding-top: 25px;
    padding-bottom: 29px;

    .two-figure-price {
      text-align: center;
    }

    &__title {
      font-size: 20px;
      line-height: 20px;
      width: 30%;
      margin-bottom: 25px;
    }

    &__options {
      position: relative;
      font-size: 16px;
      line-height: 20px;
      width: 40%;
      margin-top: 2px;
      bottom: 8px;
    }

    &__options-cell {
      &--quantity {
        text-align: right;
        padding-right: 44px;
      }

      &--price {
        width: 95px;
      }
    }

    &__note {
      display: inline;
    }

    &__button {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    padding-bottom: 16px;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }

    &__title {
      width: 245px;
      margin: 0;
      margin-right: 81px;
    }

    &__options {
      width: 285px;
      bottom: 0;
      font-family: "Lato", "Arial", sans-serif;
      margin-right: 39px;
      margin-top: 8px;
      margin-bottom: 0;
    }

    &__options-cell {
      &--quantity {
        text-align: left;
      }
    }

    &__button {
      width: 245px;
    }
  }
}
