.cooperation {
  background-color: $bg-grey;

  &--index {
    background-color: #ffffff;
  }

  &__inner {
    padding-top: 27px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-transform: uppercase;
    color: $textdark;
    width: 50%;
    margin: 0;
  }

  &__adress {
    font-family: "Lato", "Arial", sans-serif;
    line-height: 20px;
    width: 50%;
  }

  &__street,
  &__city {
    margin: 0;
    font-family: "Lato", "Arial", sans-serif;
  }

  &__map {
    width: 100%;
    height: 360px;
    background-image: url("../../images/map-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 320px 360px;
    background-position: center 0;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../../images/map-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    &__inner {
      padding-top: 64px;
      padding-bottom: 59px;
      @include pad-set(41px);
    }

    &__title {
      width: 160px;
      font-size: 20px;
      line-height: 25px;
    }

    &__adress {
      width: 170px;
      text-align: right;
    }

    &__street {
      margin-bottom: 16px;
      padding-left: 5px;
    }

    &__city {
      padding-left: 4px;
    }

    &__map {
      height: 396px;
      background-image: url("../../images/map-tablet@1x.jpg");
      background-size: 768px 396px;

      @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
        background-image: url("../../images/map-tablet@2x.jpg");
      }
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &__wrapper {
      position: absolute;
      z-index: 1;
      top: 95px;
      left: 110px;
      width: 570px;
      background-color: #ffffff;
    }

    &__inner {
      @include pad-set(35px);
      padding: 60px 35px 35px;
    }

    &__street {
      margin-bottom: 19px;
    }

    &__title {
      margin-left: 5px;
      padding-top: 3px;
    }

    &__adress {
      text-align: left;
    }

    &__map {
      height: 399px;
      background-image: url("../../images/map-desktop@1x.jpg");
      background-size: 1300px 399px;

      @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
        background-image: url("../../images/map-desktop@2x.jpg");
      }
    }
  }
}
