.demo {
  position: relative;
  z-index: 2;
  padding-top: 11px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
  background-color: $bg-grey;

  &__inner {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
  }

  &__illustration {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    &--before {
      top: 3px;
      background-position: -9px -2px;
      background-image: url("../../images/before-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../images/before-mobile@2x.png");
      }
    }

    &--after {
      direction: rtl;
      left: auto;
      top: 3px;
      right: 0;
      z-index: 10;
      background-position-x: -32px;
      transform: scaleX(-1);
      background-image: url("../../images/after-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../images/after-mobile@1x.png");
      }
    }
  }

  &__title {
    @include title;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__text {
    margin-top: 0;
    width: 100%;
    font-family: "Lato", "Arial", sans-serif;
    margin-bottom: 20px;
  }

  &__stats-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__stats-item {
    position: relative;
    display: flex;
    width: 124px;
    padding-top: 13px;
    padding-bottom: 14px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;

    &--weight {
      margin-right: 16px;

      .demo__stats-subtitle {
        @include pad-set(17px);
      }
    }

    &--days {
      margin-left: 16px;

      .demo__stats-subtitle {
        @include pad-set(24px);
      }
    }
  }

  &__stats-value {
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: $textdark;
    margin: auto;
  }

  &__stats-subtitle {
    font-family: "Lato", "Arial", sans-serif;
    position: absolute;
    left: 0;
    right: 2px;
    bottom: -19px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    width: 110px;
    background-color: $bg-grey;
  }

  &__caption {
    line-height: 20px;
    text-transform: uppercase;
    color: $textdark;
    text-align: center;
    margin-top: 37px;
    margin-bottom: 0;
  }

  &__image-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
  }

  &__image-switcher {
    width: 4px;
    background-color: #666666;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 6px;
    z-index: 30;
    border-radius: 2px;
    cursor: ew-resize;

    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18"><path d="M8 0L0 9L8 18V0Z" fill="%23666666"/><path d="M24 9L16 0V18L24 9Z" fill="%23666666"/></svg>');
      width: 40px;
      height: 40px;
      padding: 7px 6px;
      background-color: #fff;
      border: 2px solid #666666;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: #68B738;

      &::after {
        border: 2px solid #68B738;
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18"><path d="M8 0L0 9L8 18V0Z" fill="%2368B738"/><path d="M24 9L16 0V18L24 9Z" fill="%2368B738"/></svg>');
      }
    }

    &:active {
      background-color: #5EAA2F;
      opacity: 0.9;

      &::after {
        border: 2px solid #5EAA2F;
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18"><path d="M8 0L0 9L8 18V0Z" fill="%235EAA2F"/><path d="M24 9L16 0V18L24 9Z" fill="%235EAA2F"/></svg>');
      }
    }
  }

  &__progress {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 3px;
    overflow: hidden;
    margin-bottom: 20px;

    .demo__image-wrapper {
      transform: translateX(0);
      transition: 0.5s;
    }

    .demo__progress-toggle {
      transform: translateX(0);
      transition: 0.5s;
    }

    &--after {
      .demo__image-wrapper {
        transform: translateX(-50%);
        transition: 0.5s ease-out;
      }

      .demo__progress-toggle {
        transform: translateX(100%);
        transition: 0.5s ease-out;
      }
    }
  }

  &__buttons-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 219px;
    margin: 15px auto 0;
  }

  &__progress-button {
    @include button-unstyle;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60px;
    cursor: pointer;
  }

  &__progress-bar {
    width: 84px;
    height: 14px;
    padding: 3px 5px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    background-color: #ffffff;
  }

  &__progress-toggle {
    width: 50%;
    height: 6px;
    border-radius: 10px;
    background-color: $firmcolor;
  }

  &__range {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 100px;
    border-top: 1px solid $header-border;
    background-color: transparent;

    &__inner {
      height: 460px;
    }

    &__title {
      font-size: 60px;
      margin-bottom: 60px;
    }

    &__text {
      margin-bottom: 56px;
    }

    &__stats {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__stats-list {
      width: 366px;
      justify-content: space-between;
    }

    &__stats-item {
      width: 162px;
      padding-bottom: 19px;

      &--weight .demo__stats-subtitle {
        padding: 0;
        width: 115px;
        bottom: -6px;
      }

      &--days .demo__stats-subtitle {
        padding: 0;
        width: 139px;
        bottom: -6px;
      }
    }

    &__stats-value {
      font-size: 30px;
      line-height: 37px;
    }

    &__stats-subtitle {
      font-size: 14px;
      line-height: 14px;
      background-color: #ffffff;
    }

    &__caption {
      font-size: 20px;
      line-height: 30px;
      text-align: right;
      width: 180px;
      padding-right: 1.4px;
      margin: 0;
    }

    &__progress {
      width: auto;
      margin-right: unset;
      margin-top: 80px;
      overflow: unset;

      .demo__progress-toggle {
        transform: translateX(-50%);
      }

      &--after .demo__image-wrapper {
        transform: none;
      }
    }

    &__image-wrapper {
      top: 19px;
      position: relative;
      width: 610px;
      height: 512px;
      margin: 0 auto;
    }

    &__illustration {
      &--before {
        top: -20px;
        background-position: 6px 15px;
        background-image: url("../../images/before-tablet@1x.png");
      }

      &--after {
        background-image: url("../../images/after-tablet@1x.png");
        top: 5px;
        background-position-x: -47px;
      }
    }

    &__buttons-block {
      width: 570px;
      margin: 13px auto 0;
    }

    &__progress-bar {
      width: 427px;
      height: 35px;
      border: none;
      background-color: transparent;
      transform: translate(4px, 11px);
    }

    &__range {
      display: block;
      width: 100%;
      height: 6px;
      background-color: #dcdcdc;

      &::-webkit-slider-thumb {
        width: 34px;
        height: 34px;
        border: 1px solid #cecece;
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 #d6d6d6;
        background-color: #ffffff;

        &::before {
          content: "";
          position: absolute;
          top: 12px;
          left: 12px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $firmcolor;
        }

        &:hover {
          box-shadow: 0 5px 5px 0 #d6d6d6;
        }

        &:active {
          border-color: $firmcolor;
        }
      }
    }

    &__progress-button {
      font-size: 20px;
      line-height: 20px;
      width: auto;
      padding: 7px 0;
      border-bottom: 1px dotted #bebebe;

      &:hover {
        border-bottom-style: solid;
      }

      &:active {
        border-bottom-color: transparent;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 48px;
    border: none;
    background-color: #ffffff;

    &__inner {
      height: 463px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      height: 600px;
    }

    &__title {
      margin-top: 51px;
      margin-bottom: 145px;
    }

    &__text {
      width: 433px;
      margin-bottom: 72px;
    }

    &__stats {
      width: 435px;
      flex-wrap: wrap;
    }

    &__stats-item {
      margin-bottom: 54px;
    }

    &__stats-subtitle {
      bottom: -5px;
      background-color: $bg-grey;
    }

    &__caption {
      display: flex;
      width: 340px;
      gap: 65px;
      padding-left: 2px;
      text-align: left;
    }

    &__progress {
      width: 590px;
      margin-left: auto;
      margin-top: 0;
    }

    &__image-wrapper {
      top: -2px;
      height: 536px;
    }

    &__image-switcher {
      top: 54px;
      height: 512px;
    }

    &__illustration {
      &--before {
        height: 490px;
        top: 60px;
        background-image: url("../../images/before-desktop@1x.png");
        background-position: 16px 0;
      }

      &--after {
        top: 50px;
        height: 512px;
        background-image: url("../../images/after-desktop@1x.png");
        background-position: -50px 7px;
      }
    }

    &__buttons-block {
      margin: 9px 0 0 auto;
    }
  }
}
