.head-block {
  position: relative;
  padding-top: 26px;
  max-width: $desktop-width;
  margin: auto;
  background-image: url("../../images/index-background-mobile@1x.jpg");
  background-size: 350px 300px;
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../images/index-background-mobile@2x.jpg");
  }

  &__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 26px;
  }

  &__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
    background-color: rgb(101, 168, 62);
  }

  &__text {
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 27px;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__button {
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    font-weight: 400;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 3px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 528px;
    margin-top: 90px;
    background-image: url("../../images/index-can-tablet@1x.jpg");
    background-position: 30px 251px;
    background-size: 709px 609px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../images/index-can-tablet@1x.jpg");
    }

    &__wrapper {
      padding-left: 90px;
    }

    &__bg {
      display: none;
    }

    &__title,
    &__text {
      color: $textdark;
      text-align: left;
    }

    &__title {
      @include title-t;
      width: 420px;
      margin-bottom: 40px;
    }

    &__text {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 51px;
    }

    &__image {
      display: none;
    }

    &__button {
      font-size: 20px;
      line-height: 20px;
      padding-top: 16px;
      padding-bottom: 16px;
      width: 242px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 144px;
    margin-top: 0;
    padding-bottom: 0;
    background-image: url("../../images/index-background-desktop@1x.jpg");
    background-position: 100% 0;
    background-size: 720px 694px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../images/index-background-desktop@2x.jpg");
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      height: 602px;
      padding-left: 80px;
    }

    &__title {
      order: 1;
      margin-top: 80px;
    }

    &__text {
      order: 2;
      margin-bottom: 49px;
    }

    &__button {
      order: 3;
      width: 244px;
      height: 54px;
    }

    &__picture {
      order: 4;
    }

    &__image {
      display: inline-block;
      width: 600px;
      margin-left: -52px;
    }
  }
}
