.program {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-right: 260px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-right: 0;
  }

  &__illustration {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $firmcolor;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 17px;
      right: 3px;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      top: 0;
      right: 0;
      width: 100px;
      height: 100px;
    }
  }

  &__icon {
    position: absolute;

    &--slim {
      left: 7px;
      bottom: 5px;

      @media (min-width: $tablet-width) {
        left: 30px;
        bottom: 12px;
        width: 69%;
        height: 100%;
      }

      @media (min-width: $desktop-width) {
        left: 15px;
        bottom: 7px;
      }
    }

    &--pro {
      left: -9px;
      bottom: 13px;

      @media (min-width: $tablet-width) {
        left: -35px;
        bottom: 1px;
        width: 133%;
        height: 100%;
      }

      @media (min-width: $desktop-width) {
        left: -17px;
      }
    }
  }

  &__title {
    font-size: 24px;
    line-height: 37px;
    font-weight: normal;
    text-transform: uppercase;
    color: $textdark;
    padding-left: 19px;
    width: calc(100% - 69px);
    margin-top: 10px;
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 37px;
      margin-top: 0;
      padding-top: 1px;
      padding-left: 0px;
    }

    @media (min-width: $desktop-width) {
      width: calc(100% - 162px);
      margin-bottom: 5px;
      padding-left: 61px;
    }
  }

  &__text {
    font-family: "Lato", "Arial", sans-serif;
    width: 100%;
    padding-bottom: 21px;
    margin-top: 17px;
    margin-bottom: 0;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      padding-bottom: 42px;
      border: none;
      margin-top: 13px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      padding-bottom: 32px;
      margin-top: 40px;
    }
  }

  &__footer {
    padding-top: 19px;

    @media (min-width: $tablet-width) {
      padding-top: 15px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      .program__arrow {
        transform: translateX(0);
        transition: transform 0.4s;
      }
    }

    svg {
      width: 22px;

      @media (min-width: $tablet-width) {
        width: 26px;
      }

      @media (min-width: $desktop-width) {
        width: 23px;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__link-text {
    z-index: 1;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: $textdark;
    width: auto;
    padding-right: 16px;
    margin: 0;
    background-color: $bg-grey;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      padding-right: 25px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 27px;
    }
  }

  &__arrow {
    fill: #3e4242;
    width: 29px;
    transform: translateX(-5px);
    transition: transform 0.4s;
  }
}
